
*{
    box-sizing: border-box;
}
.kapsayici{
    position: relative;
    left: 300px;
    width: 100%;
}


.foto1{
    position: absolute;
    top: 30px;
    left: 300px;
}
.foto2{
    position: absolute;
    top: 55px;
    left: 457px;
}

.loginkapsayici{
    position: absolute;
    border: 1px solid lightgray;
    width: 330px;
    height: 410px;
    top: 47px;
    left: 750px;
    
    
}

.baslik{
    margin-top: 37px;
    font-family: Proxima Nova;
    font-size: 20px;
}

.loginkapsayici h1{
    text-align: center;
    font-family: lobster;
}

#input1{
    width: 270px;
    margin-left: 28px;
    height: 35px;
    margin-top: 22px;
    background-color: #FAFAFA;
    border: 0,5px;
    border-radius: 4px;
    border: 1px solid lightgray;

   
}



#input2{
    width: 270px;
    margin-left: 28px;
    height: 35px;
    margin-top: 4px;
    background-color: #FAFAFA;
    border-radius: 2px;
    border: 1px solid lightgray;
    
}

.submit button{
    width: 270px;
    margin-left: 28px;
    margin-top: 9px;
    height: 32px;
    border-radius: 8px;
    background-color: #4CB5F9;
    border: 1px solid lightgray;
    color: white;
}



.border1{
    border: 1px solid black;
    width: 80px;
    position: absolute;
    top: 270px;
    left: 40px;
}

.border2{
    border: 1px solid black;
    width: 80px;
    position: absolute;
    top: 270px;
    right: 40px;
}

.space{
    font-size: 15px;
    text-align: center;
    margin-top: 17px;
}

.loginkapsayici2{
    border: 1px solid lightgray;
    width: 330px;
    height: 70px;
    top: 470px;
    right: 414px;
    position: absolute;
}


.face{
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
    color: #385185;
    position: absolute;
    top: 315px;
    right: 95px;
   
}

.ikon1{
    position: absolute;
    top: 315px;
    left: 70px;
    font-size: 18px;
}

.pas a{
    position: absolute;
    top: 355px;
    left: 100px;
    font-size: 14px;
    text-decoration: none;
    color: black;

}

.alt{
    margin-left: 75px;
    margin-top: 22px;
    text-decoration: none;
}

.enalt{
    position: absolute;
    top: 545px;
    left: 850px;
}

.ikonlar .google{
    position: absolute;
    width: 115px;
    height: 40px;
    top: 590px;
    left: 790px;

}

/* .ikonlar .microsoft{
    position: absolute;
    width: 1px;
    height: 1px;
    top: 590px;
    left: 790px;
} */